html {
	font-family: sans-serif;
}
ul {
	padding-left: 15px;
}
h2 {
	margin-top: 35px;
}
button {
	border-radius: 15px;
	min-height: 30px;
	min-width: 60px;
	margin: 5px;
}
div {
	margin: -8px;
	padding: 8px;
}