@import url("https://code.getmdl.io/1.3.0/material.indigo-pink.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");


h1.top-title-cover {
	display: table-cell;
	font-size: 17vw;
	line-height: 1;
	height: 100vh;
	font-weight: 600;
	vertical-align: middle;
}

h1.top-title {
	padding-top: 20px;
	text-align: center;
	font-size: 10vw;
	font-weight: 600;
}

div.top-title-cover-multiple-lines {
	font-size: 17vw;
	padding-top: 30px;
	line-height: 1.05;
	height: 90vh;
	font-weight: 600;
	vertical-align: middle;
}

h3.topic-title {
	font-weight: 700;
	border-bottom: solid 1px;
	text-align: center;
	margin-left: 10vw;
	margin-right: 10vw;
}

h4.sub-title {
	margin-top: 50px;
	text-align: center;
	font-weight: 600;
}

h4.content {
	font-family: serif;
	margin-left: 10vw;
	margin-right: 10vw;
	text-align: center;
	font-weight: 300;
}

h5 {
	font-weight: 600;
}

img.full-width {
	margin-left: 11vw;
	margin-right: 11vw;
	width: 78vw;
}

.mdl-navigation__link.white {
	text-decoration: underline;
	color: white;
	font-size: 20px;
}

img.sns-icon {
	width: 20px;
}

img.small {
	width: 300px;
}

iframe {
	width: 80vw;
	height: 45vw;
}


.demo-layout-transparent .mdl-layout__header, .demo-layout-transparent .mdl-layout__drawer-button {
	color: white;
}