/**
 * 	orch_hp_instruments.css
 *  楽器紹介のページでのみ使用する
 */

body {
	background-color: black
	
}

div.instruments {
	padding: 20px;
	width: 100vw;
	height: 90vh;
	margin: 0px;
	background-color: white;
}

div.instruments.vn {
	background: url('p/instruments/vn1.jpg') center / cover;
}

h1.instruments {
	color: white;
	font-weight: 700;
}
